.back-button {
    background-image: url("project://database/Assets/ThirdParty/maanetorn/Farm%20Game%20UI%20-%20Simple%202D%20UI/Sprites/256x256/button_purple_default_2.png?fileID=2800000&guid=11d6874f56486e342aee373a9becbe2d&type=3#button_purple_default_2");
    background-size: cover;
    background-color: transparent;
    border-width: 0;
    width: 50px;
}

.back-button:active {
    background-image: url("project://database/Assets/ThirdParty/maanetorn/Farm%20Game%20UI%20-%20Simple%202D%20UI/Sprites/256x256/button_purple_pressed_2.png?fileID=2800000&guid=1f506ae0dc9c328488f3bdc88801ace6&type=3#button_purple_pressed_2");
}
