.guide-text {
    -unity-font-definition: url("project://database/Assets/ThirdParty/maanetorn/Farm%20Game%20UI%20-%20Simple%202D%20UI/Font/LilitaOne-Regular.ttf?fileID=12800000&guid=b0b25c7081699704f917d02e28f31692&type=3#LilitaOne-Regular");
    white-space: normal;
    -unity-text-align: upper-center;
    font-size: 18px;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0, 0, 0);
}